Pillow==3.1.0
PyChromecast==0.6.14
argparse==1.2.1
colorific==0.3
colormath==1.0.8
colorweave==0.3.2
decorator==4.0.6
enum-compat==0.0.2
enum34==1.1.2
netifaces==0.10.4
networkx==1.10
numpy==1.10.4
phue==0.8
protobuf==3.0.0b2
pylast==1.5.1
requests==2.9.1
six==1.10.0
soco==0.11.1
webcolors==1.5
wsgiref==0.1.2
zeroconf==0.17.4
